/* Universal Selector */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Element Selectors */
body {
  background-color: white;
}

h1 {
  text-align: center;
  /* width: 500px; */
  font-size: 30px;
  margin-top: 100px;
  margin-bottom: 25px;
}

p {
  display: inline-block;;
  font-size: 18px;
  width: 50%;
}

button {
  padding: 8px;
  margin: 10px 0px 10px 0px;
  cursor: pointer;
  font-size: 18px;
  background-color: green;
  color: white;
  border-radius: 10px;
}


/* Class Selectors */
.start-screen {
  display: block;
  position: relative;
  margin: auto;
  text-align: center;
  width: 50%;
}

.start-button {
  /* display: block; */
  /* position: relative; */
  margin-top: 50px;
  width: 500px;
}

.time {
  /* display:inline-block; */
  /* width: 500px; */
  /* position: absolute; */
  margin-left: 750px;
}

.btndiv {
  margin: auto;
  width: 50%;
}

.btn {
  color: white;
  /* margin: 5px; */
  display: block;
  /* align-content: center; */
  /* justify-content: center; */
}

.card {
  display:block;
  position: relative;
}

.quiz-container {
  display: block;
  width: 750px;
  margin: auto;
  /* text-align: left; */
  /* justify-content: center; */
  /* align-content: end; */
  /* position: relative; */
  /* background-color: darkgray; */
}

.end-screen {
  display: none;
  position: relative;
  margin: auto;
  text-align: center;
  width: 50%;
}
/* ID Selectors */
#back-button{
  display: inline-block;
  margin-top: 70px;
  margin-left: 300px;
  width: 200px;
}

#clear-button{
  display: inline-block;
  margin-top: 70px;
  margin-left: 250px;
  width: 200px;
}