/* Universal Selector */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Element Selectors */
body {
  background-color: white;
}

main {
  display: flex;
  flex-wrap: wrap;
}

h1 {
  text-align: center;
  font-size: 30px;
  margin-top: 100px;
  margin-bottom: 25px;
}

h2 {
  display: none;
  text-align: center;
  font-size: 30px;
  margin-top: 100px;
  margin-bottom: 25px;
}

p {
  margin: auto;
  font-size: 18px;
  width: 25%;
}

button {
  padding: 8px;
  margin: 10px 0px 10px 0px;
  cursor: pointer;
  font-size: 18px;
  background-color: green;
  color: white;
  border-radius: 10px;
}


/* Class Selectors */
.start-screen {
  display: block;
  position: relative;
  margin: auto;
  text-align: center;
  width: 50%;
}

.start-button {
  margin-top: 50px;
  width: 500px;
}

.time {
display: block;
margin-top: 20px;
margin-left: 500px;
}

.btndiv {
  margin: auto;
  width: 50%;
}

.btn {
  color: white;
  display: block;

}

.card {
  display:block;
  position: relative;
}

.quiz-container {
  display: block;
  width: 750px;
  margin: auto;
}

.end-screen {
  display: none;
  position: relative;
  margin: auto;
  text-align: center;
  width: 50%;
}
 .high-scores {
  margin: auto;
  width: 50%;
 }

/* ID Selectors */
#saved-data {
  margin-left: 300px;
  margin-top: 50px;
  font-size: 20px;
}

#back-button{
  width: 200px;
}

#clear-button{

  width: 200px;
}

